@*@model IEnumerable<WishList.Models.Item>

@{
	ViewData["Title"] = "Index";
}

<h1>Wishlist</h1>

<p>
	<a asp-action="Create">Add item</a>
</p>

<ul>
	@foreach (var item in Model)
	{
		<li>

			@Html.DisplayFor(modelItem => item.Description)
			<a asp-action="delete" asp-route-id="Id">delete</a>
		</li>
		

	}
</ul>


*@


@model List<WishList.Models.Item>

<h1>Wishlist</h1>

<a asp-action="create">Add Item</a>

<ul>
	@foreach (var item in Model)
	{

		<li> @item.Description 
			<a asp-action="delete" asp-route-id="@item.Id">delete</a>
			</li>
	}

</ul>